<body>
<div class ="row">
  <div *ngFor="let product of products" class = "shadow-lg col-sm-4 p-3">
      <div class="card">
        <img *ngIf="!product.imageUrl" class = "imgProps" src="assets/img/default.png">
        <img *ngIf="product.imageUrl" class = "imgProps" src="assets/img/{{product.imageUrl}}">
        <br>
        <div [hidden]=!getIsAdmin()>
          <li class = "list-inline-item">
            <button class="btn btn-primary" [routerLink]="['/edit']" (click)="prodToEdit(product)"><i class="fas fa-edit"></i></button>
          </li>
          <li class = "list-inline-item">
            <button class="btn btn-primary" [routerLink]="['/']"(click)="prodToDelete(product)"  ><i class="fas fa-trash-alt"></i></button>
          </li>
        </div>
        <h1>{{product.name}}</h1>
        <button class="btn btn-primary" (click)="prodToAdd(product)"><i class="fas fa-shopping-cart"></i> {{product.price}} kr.</button>
      </div>
    </div>
  </div>
</body>
