@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');

.btn{
  background-color: #6648b1;
  border: 1px solid #563d7c;
 display: inline-block;
}

.smallComment{
  font-size: 18px;
  font-family: Allan;
}

body{
  font-family: Allan;
}
