@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');


.btn-primary{
  background-color: #6648b1;
  border: 1px solid #563d7c;
}

btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #6648b1;
  margin-bottom: 1rem;
}

.card-header{
  background-color: #0fa3b9;
  font-size: 25px;
  font-family: Allan;
  font-weight: bold;
}


.main-div {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.error{
  font-size: 15px;
}



