<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Animal Shelter Webshop</title>
</head>
<body>

  <!--Welcome section-->
  <div class="container-fluid padding">
  <div class="row welcome text-justify">
    <div class="col-15">
      <h1 class="display-4">Animal Shelter Webshop</h1>
    </div>
    <hr>
    <div class="col-15">
      <p class="lead">
      Welcome to out animal shelter web shop! Our mission is to provide a shelter for all kind of homeless animals as we try to find them a new home. We understand that not everybody is able to adopt, that's why we created this web shop. Go find the product that best suits you and help us!
      </p>
    </div>
  </div>
  </div>


  <!--Different columns-->
  <div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-comment-dots"></i>
      <h3>Peter Parker</h3>
      <p>Very good quality! I love it!!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-comment-dots"></i>
      <h3>Bruce Wayne</h3>
      <p>I bought a mug as a gift and as soon as it arrived I bought another one for me. I'm glad to help!</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-comment-dots"></i>
      <h3>Mike W.</h3>
      <p>It's the third time I bought from this site, and won't be the last.</p>
    </div>
  </div>
  </div>
  <h4 class="my-4"></h4>

  <!--two columns -->
  <div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <i class="fas fa-heart"><h2>Join our family!</h2></i>
      <p>Who doesn't want a mug with the face of his dog? </p>
      <p>Adopt now one of our pets and receive a customized product for free!</p>
      <p>What are you waiting for?</p>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/madcatmug.jpg" class="img-fluid">
    </div>
  </div>
  </div>

  <!--About us-->
  <div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Meet them</h1>
    </div>
    <hr>
  </div>
  </div>
  <!-- cards -->
  <div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/obi.PNG">
        <div class="card-body">
          <h4 class="card-title">Obi</h4>
          <p class="card-text">Meet this three-year old beauty.</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>



      </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/yui.PNG">
        <div class="card-body">
          <h4 class="card-title">Yui</h4>
          <p class="card-text">You don't know it but he already loves you.</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>


    </div>


    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/chloe.PNG">
        <div class="card-body">
          <h4 class="card-title">Chloe</h4>
          <p class="card-text">She'll be the queen of your home.</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/Jima.PNG">
        <div class="card-body">
          <h4 class="card-title">Jiraiya</h4>
          <p class="card-text">He's the cutest cat you'll ever see.</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/img/l.PNG">
        <div class="card-body">
          <h4 class="card-title">L</h4>
          <p class="card-text">Those eyes will make you fall in love.</p>
          <a href="#" class="btn btn-outline-secondary">See profile</a>
        </div>
      </div>
    </div>
  </div>

<!--social media-->
    <div class="container-fluid padding">
    <div class="row text-center padding">
      <div class="col-12 social padding">
        <a class="btn socialmediabutton"
           a window.location.href="https:/facebook.com"><i class="fab fa-facebook"></i></a>
        <a class="btn socialmediabutton"
           a window.location.href="https:/facebook.com"><i class="fab fa-twitter"></i></a>
        <a class="btn socialmediabutton"
           a window.location.href="https:/instagram.com"><i class="fab fa-instagram"></i></a>
        <a class="btn socialmediabutton"
           a window.location.href="https:/youtube.com"><i class="fab fa-youtube"></i></a>

      </div>
    </div>
      <hr class="my-4">
    </div>
    <br>
    <br>

    <!-- Footer -->
    <footer>
      <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="assets/img/5.png">
          <hr class="light">
          <p>555-555-555</p>
          <p> animalshelter@email.com</p>
          <p>Esbjerg street</p>
          <p>Denmark</p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <p>Our hours </p>
          <hr class="light">
          <p>Monday: 9am - 5pm</p>
          <p>Saturday: 10am-4pm</p>
          <p>Sunday: closed</p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <p>Where to find us</p>
          <hr class="light">
          <p>Aarhus, DK</p>
          <p>Copenhaguen, DK</p>
          <p>Esbjerg, DK</p>
        </div>

        <div class="col-12">
          <hr class="light-100">
          <h5>&copy; whydidyouscrollthisdown.com</h5>
        </div>
      </div>
      </div>
    </footer>
  </div>
</body>
</html>


