<nav class="navbar navbar-expand-md navbar-light bg-info sticky-top">
  <img src="assets/img/5.png" routerLink="/">


  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/products/mugs']">Mugs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products/tshirts']">T-Shirts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products/keychains']">Key-chains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products/other']">More...</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
      <!--Log in -->
      <li *ngIf="!getIsAuth()">

        <a class="nav-link" [routerLink]="['/login']">Log in</a>
      </li>
      <!--//Cart-->

      <li *ngIf="getIsAuth()">
        <a class="nav-link" [routerLink]="['/mycart']">
          <i class="fas fa-shopping-cart"></i></a>
      </li>
      <!--Orders-->
      <li *ngIf="getIsAuth()">
        <a class="nav-link" [routerLink]="['/myorders']">My orders</a>
      </li>
      <!--Add products-->
      <li *ngIf="getIsAdmin()">
        <a class="nav-link" [routerLink]="['/addproducts']">Add product</a>
      </li>
      <!--//Log out-->
      <li *ngIf="getIsAuth()">
        <a class="nav-link"
           (click)="onLogout()">
          Logout</a>
      </li>
    </ul>
  </div>
  <div>
  </div>
</nav>
